<%- include("templates/header") %> 
<h1>Welcome to the home page!</h1>
<a class="btn btn-primary rounded-pill px-3" href="/login">Login</a>
<a class="btn btn-primary rounded-pill px-3" href="/createUser">Sign up</a>
<%- include("templates/footer") %>
